!!! 5
html
  head
    if info
      if info.name == 'var'
        - info.name = '/'
        title Getabuntu
      else
        title #{info.name} · Getabuntu
    else
      title Getabuntu
    meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no')
    link(rel='stylesheet', href='/css/style.css')

  body
    #header
      .container
        .header-wordmark
          a.logo.invert(href='/') Getabuntu
        if req.authenticated
          .header-actions
            a.invert.button(href='/#{req.session.user.name}')
              img(src=req.app.get('helper').gravatar(req.session.user.mail, 34))
              span= req.session.user.name
            if info && info.mime == 'text/directory'
              button#search: i.icon.search
            a.invert.button(href='/session'): i.icon.power

    #site-content
      .site-container
        block pagehead
          .pagehead
            .container
              - var i = 0
              - var p = (decodeURI(req.url)).split('/')
              while i < p.length - 1
                a(href="#{p.slice(0,++i).join('/')}")= p[i-1]
                span.separate /
              span= p[p.length-1]
        .pageinfo
          .container
            .flash
              span
              a.invert: i.icon.remove
        if req.authenticated && info
          .pagefind(style='display:#{req.query.q?'block':'none'}')
            .container
              form
                input(type='text', name='q', placeholder='Search "#{info.name}"', value=req.query.q)
        .pagebody
          .container
            block content

    #footer
      .container
        p.right &copy; 2010-#{_.date().format('YYYY')} Getabuntu.
        ul#notes
          li: a(href='/forum') Forum
          li: a(href='/status') Status

    script(src='//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.2/jquery.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/js/socket.js')
