!!! 5
html
  head
    meta(charset='utf-8')
    if req.isAuthenticated()
      meta(name='ensure', content='')
      meta(name='environment', content=req.app.get('env'))
    meta(name='version', content=req.app.get('version'))
    meta(name='viewport', content='initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no')
    meta(name='format-detection', content='telephone=no')
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    link(rel='apple-touch-icon-precomposed', href='/img/app/apple-touch-icon.png')
    link(rel='apple-touch-icon-precomposed', href='/img/app/apple-touch-icon-57x57.png', sizes='57x57')
    link(rel='apple-touch-icon-precomposed', href='/img/app/apple-touch-icon-114x114.png', sizes='114x114')
    link(rel='apple-touch-icon-precomposed', href='/img/app/apple-touch-icon-72x72.png', sizes='72x72')
    link(rel='apple-touch-icon-precomposed', href='/img/app/apple-touch-icon-144x144.png', sizes='144x144')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image.png')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-320x460.png', media='(device-width:320px) and (device-height:480px) and (-webkit-device-pixel-ratio:1)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-640x920.png', media='(device-width:320px) and (device-height:480px) and (-webkit-device-pixel-ratio:2)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-640x1096.png', media='(device-width:320px) and (device-height:568px) and (-webkit-device-pixel-ratio:2)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-768x1004.png', media='(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:1) and (orientation:portrait)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-748x1024.png', media='(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:1) and (orientation:landscape)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-1536x2008.png', media='(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait)')
    link(rel='apple-touch-startup-image', href='/img/app/apple-touch-startup-image-1496x2048.png', media='(device-width:768px) and (device-height:1024px) and (-webkit-device-pixel-ratio:2) and (orientation:landscape)')

    != css('master')

  body

    a#null(href='javascript:void(0)')

    #load Loading...

    block head
      #head
        .container
          ul.list
            if req.isAuthenticated()
              li.icon: a(href='javascript:void(0)')#mediaprev: .icon.prev
              li.icon: a(href='javascript:void(0)')#mediaplay: .icon.play
              li.icon: a(href='javascript:void(0)')#medianext: .icon.next
            li
              a#stat(href='javascript:void(0)')
                audio#audio
                video#video
                .status geta6.net v#{req.app.get('version')}
                .status-sub
                .status-bar
            if req.isAuthenticated()
              li.icon: a(href='#').tips
                .icon.user
                .tips= req.user
              //- li.icon: a(href='#').tips
              //-   .icon.conf
              //-   .tips Settings

    block navi
      if req.isAuthenticated()
        #navi
          .container
            ul.list.navi
              - var href = req.url.split('/')
              - var addr = href[1]
              li#dirup.icons(style=3>href.length?'opacity:0;width:0':''): a(href='javascript:void(0)'): .icon.over
              li(class=addr=='Apps'?'selected':''): a(href='/Apps') Apps
              li(class=addr=='Books'?'selected':''): a(href='/Books') Books
              li(class=addr=='Games'?'selected':''): a(href='/Games') Games
              li(class=addr=='Movies'?'selected':''): a(href='/Movies') Movies
              li(class=addr=='Music'?'selected':''): a(href='/Music') Music

    block info
      #info
        .container
          .info.warn
            p.pull-left
            a.icon.shut.pull-right(href='javascript:void(0)')

    block body
      #body
        .container
          .bind.stud
            #data
              include browse

    block foot
      #foot
        .container
          ul.list.docs
            li: a(href='http://status.geta6.net', target='_blank') Status
            if req.isAuthenticated()
              li: a(href='#') Help
              li: a(href='#') Query
            li.pull-right &copy; 2010-#{new Date().getYear()+1900} geta6

    script(src='/lib/jquery.min.js')
    script(src='/lib/jquery.pjax.min.js')
    script(src='/lib/underscore.min.js')
    script(src='/lib/underscore.string.min.js')
    !=js('videapp')
